<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Blog Post</title>
</head>
<body>
<h1>Add a blog post</h1>
    <form method="POST" action="/add-post">
        <input type="text" placeholder="Enter post title" name="postTitle"/>
        <textarea placeholder="Enter post Body" name="postBody"></textarea>
        <select name="postCategory">
            <option value="JS">JS</option>
            <option value="PY">PY</option>
            <option value="TS">TS</option>
            <option value="Android">Android</option>
            <option value="IOs">IOs</option>
            <option value="C++">C++</option>
        </select>
        <button>Add Post</button>
    </form>
</body>
</html>