<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    <h1>Post Details</h1>
    <!--
    {{dataValues.title}}
    <form method="POST" action="/update-post">
    <ul>
        Title
        <li><input type="text" value="{{title}}" name="postTitle"/></li>
        Category
        <li>            
            <select name="postCategory">
                <option value="JS">JS</option>
                <option value="PY">PY</option>
                <option value="TS">TS</option>
                <option value="Android">Android</option>
                <option value="IOs">IOs</option>
                <option value="C++">C++</option>
            </select>
        </li>
        Body
        <li><input type="text" value="{{body}}" name="postBody"/></li>
        <input type="hidden" value={{id}} name="postId"/>
    </ul>
    <button>Update</button>
    </form>
   </ul>
   -->
    <h1>{{title}}</h1>
    
    
    <h3>Add a Comment</h3>
    <form method="POST" action="/add-comment">
     <div style="display:flex; flex-direction: column; width:50%">
        <input type="hidden" name="commentId" value={{id}} />
        <input type="text" placeHolder="Enter title" name="title" />
        <textarea name="body"></textarea>
        <button>Submit</button>
         </div>
    </form>

    <h3>Comments</h3>
    <ul>
    {{#comments}}
         <li>
            {{title}}
            <p>{{body}}</p>
        </li>
   {{/comments}}
</body>
</html>